.contacts-footer {
  max-width: 25%;

  &__title {
    @include pm-zero();
    margin-top: 8px;
    margin-bottom: 26px;

    font-family: "Roboto Condensed", "Arial Narrow", sans-serif;

    @include font(15px, 400, 16px);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: $text-footer;
  }

  &__adres,
  &__phones-link {
    font-size: 15px;
    line-height: 25px;
    color: $text-footer;
    opacity: 0.5;
  }

  &__phones-link {
    &:hover,
    &:focus {
      opacity: 1;
      color: $hover-light;
    }

    &:active {
      color: $active-dark;
    }
  }

  &__adres {
    @include pm-zero();
    margin-bottom: 0;
  }

  &__phones {
    @include pm-zero();
    list-style: none;
  }

  &__button-toggle {
    display: none;
  }
}

@media (max-width: $table-width) {
  .contacts-footer {
    max-width: 100%;
    margin-top: 69px;
    margin-right: 12px;
  }
}

@media (max-width: $mobile-width) {
  .contacts-footer {
    position: relative;
    margin: 0;
    border-bottom: 1px solid $footer-line;

    &__title {
      margin: 0;
      padding-top: 30px;
      padding-bottom: 26px;
      padding-left: 15px;
    }

    &__wrapper {
      padding-bottom: 25px;
    }

    &__adres,
    &__phones-link {
      padding-left: 15px;
      padding-right: 20px;
    }

    &__adres {
      margin-top: 5px;
    }

    &__button-toggle {
      display: block;
      position: absolute;

      width: 100%;
      height: 100%;
      @include pm-zero();

      background: none;
      border: none;

      cursor: pointer;
    }
  }

  .contacts-footer--open .contacts-footer {
    &__button-toggle {
      @include bg-img("../img/icon-minus.svg");
      background-position: right 17px top 35px;
    }
  }

  .contacts-footer--close .contacts-footer {
    &__button-toggle {
      @include bg-img("../img/icon-plus.svg");
      background-position: right 17px top 28px;
    }

    &__wrapper {
      display: none;
    }
  }
}
