.social {
  display: flex;
  justify-content: space-between;
  align-self: center;

  position: relative;
  top: 55px;

  width: 112px;

  @include pm-zero();

  list-style: none;

  &__link svg {
    fill: $social-icon-fill;
  }

  &__link:hover svg,
  &__link:focus svg {
    fill: $hover-light;
  }

  &__link:active svg {
    fill: $active-dark;
  }
}

@media (max-width: $table-width) {
  .social {
    position: absolute;
    top: -28px;
    right: 0;
  }
}

@media (max-width: $mobile-width) {
  .social {
    top: -80px;
    right: 105px;
  }
}
