.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  position: relative;
  top: 113px;

  max-width: 127px;

  @include pm-zero();

  list-style: none;

  &__item {
    margin-right: 15px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__link svg {
    fill: $social-icon-fill;
  }

  &__link:hover svg,
  &__link:focus svg {
    fill: $hover-light;
  }

  &__link:active svg {
    fill: $active-dark;
  }
}

@media (max-width: $table-width) {
  .social {
    position: absolute;
    top: -28px;
    right: 0;
  }
}

@media (max-width: $mobile-width) {
  .social {
    top: -80px;
    left: calc(50% - 56px);
  }
}
