$background-dark: #1B2D37;
$background-light: #ffffff;

$background-form: #00B2FF;
$background-field: #19BAFF;

$text-color: #ffffff;
$text-contrast: #00B2FF;
$button-color: #00B2FF;
$description-text: #666666; //main-text
$text-footer: #1B2D37;

$adv-border: #EBEBEB;
$adv-border-contrast: #00B2FF;
$avd-backround: #00B2FF;

$consent-border: #ffffff;

$footer-line: rgba(98, 105, 98, 0.2);

$background-popup: rgba(0, 0, 0, 0.5);