$background-dark: #1B2D37;
$background-light: #ffffff;
$text-color: #ffffff;
$text-contrast: #00B2FF;
$button-color: #00B2FF;
$description-text: #666666;
$adv-border: #EBEBEB;
$adv-border-contrast: #00B2FF;
$avd-backround: #00B2FF;