$background-dark: #1b2d37;
$background-light: #ffffff;

$background-form: #00b2ff;
$background-field: #19baff;

$text-color: #ffffff;
$text-contrast: #00b2ff;
$button-color: #00b2ff;
$main-text: #666666;
$text-footer: #1b2d37;
$social-icon-fill: #cdcdcd;

$adv-border: #ebebeb;
$adv-border-contrast: #00b2ff;
$avd-backround: #00b2ff;

$consent-border: #ffffff;

$footer-line: rgba(98, 105, 98, 0.2);

$background-popup: rgba(0, 0, 0, 0.5);

$hover-light: #5cceff;
$active-dark: #0094d4;
$active-shadow: #ffffff;
